{% extends 'layout/layout_form.html.twig' %}

{% set breadcrumb = false %}

{% block page_title %}
    {{ 'title.account.change_password'|trans({}, 'title') }}
{% endblock page_title %}

{% block page_actions %}
    <div class="pull-right btn-group">
        <a class="btn bg-blue-grey white waves-effect" href="{{ path('fos_user_profile_show') }}">
            <i class="material-icons">arrow_left</i> <span class="hidden-xs">{{ 'button.back'|trans({}, 'button') }}</span>
        </a>
    </div>
{% endblock page_actions %}

{% block form_title %}
    <span{{ translate_in_place('form.account.change_password.title', {}, 'form') }}>
        {{ 'form.account.change_password.title'|trans({}, 'form')}}
    </span>
{% endblock form_title %}

{% block form_content %}
    {% include '@FOSUser/ChangePassword/change_password_content.html.twig' %}
{% endblock form_content %}

{% block form_footer %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-block waves-effect bg-blue-grey" href="{{ referer|default(path('fos_user_profile_show')) }}">
                    <i class="material-icons">cancel</i> <span class="hidden-xs">{{ 'button.cancel'|trans({}, 'button') }}</span>
                </a>
                <div class="btn-group">
                    <button class="btn btn-block waves-effect bg-{{ theme_name() }}" type="submit"
                            {{ is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::WATCH_FORM'), 'App\\Entity\\Functionality') ? 'disabled' }}>
                        <i class="material-icons">save</i> <span class="hidden-xs">{{ 'button.save'|trans({}, 'button') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock form_footer %}

