{% trans_default_domain 'FOSUserBundle' %}

<form id="sign_in" method="POST" action="{{ path('fos_user_security_check') }}">
    <div class="msg">{{ 'account.login.title'|trans({}, 'account') }}</div>

    {% if error %}
        <div class="form-group">
            <label class="error">
                <i class="fa fa-warning"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
            </label>
        </div>
    {% endif %}

    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required autofocus autocomplete="username">
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            <input type="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" required autocomplete="current-password">
        </div>
    </div>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="row">
        <div class="col-xs-8 p-t-5">
            <input type="checkbox" name="_remember_me" value="on" id="remember_me" class="filled-in">
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-block bg-blue-grey waves-effect" type="submit">{{ 'security.login.submit'|trans }}</button>
        </div>
    </div>
    <div class="row m-t-15 m-b--20">
        <div class="col-xs-6">
            <a href="{{ path('fos_user_registration_register') }}">{{ 'account.login.links.register'|trans({}, 'account') }}</a>
        </div>
        <div class="col-xs-6 align-right">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'account.login.links.reset_password'|trans({}, 'account') }}</a>
        </div>
    </div>
</form>
