{% extends 'layout/layout_details.html.twig' %}

{% block page_title %}
    {{ 'title.account.profile'|trans({}, 'title') }}
{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">
        <a href="{{ path('admin_user_list') }}">
            <i class="material-icons">supervisor_account</i> <span class="hidden-xs">{{ 'breadcrumb.user.title'|trans({}, 'breadcrumb') }}</span>
        </a>
    </li>
    <li class="active">
        <i class="material-icons">visibility</i> <span class="hidden-xs">{{ 'breadcrumb.account.profile'|trans({}, 'breadcrumb') }}</span>
    </li>
{% endblock breadcrumb %}

{% block page_actions %}
    {% if is_granted(constant('App\\Security\\Voter\\UserVoter::LIST'), 'App\\Entity\\User') %}
        <div class="pull-right btn-group">
            <a class="btn bg-blue-grey white waves-effect" href="{{ path('admin_user_list') }}">
                <i class="material-icons">arrow_left</i> <span class="hidden-xs">{{ 'button.back'|trans({}, 'button') }}</span>
            </a>
        </div>
    {% endif %}
{% endblock page_actions %}

{% block details_title %}
    {{ 'details.profile.title'|trans({}, 'details')|raw }}
{% endblock details_title %}

{% block details_content %}
    {% include '@FOSUser/Profile/show_content.html.twig' %}
{% endblock details_content %}

{% block details_footer %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
            <div class="btn-group btn-group-justified">
                {% if is_granted(constant('App\\Security\\Voter\\UserVoter::LIST'), 'App\\Entity\\User') %}
                    <div class="btn">
                        <a class="btn btn-block waves-effect bg-blue-grey" href="{{ path('admin_user_list') }}">
                            <i class="material-icons">cancel</i> <span class="hidden-xs">{{ 'button.cancel'|trans({}, 'button') }}</span>
                        </a>
                    </div>
                {% endif %}
                <div class="btn">
                    <a class="btn btn-block waves-effect bg-{{ theme_name() }}" href="{{ path('fos_user_profile_edit') }}">
                        <i class="material-icons">edit</i> <span class="hidden-xs">{{ 'button.edit'|trans({}, 'button') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock details_footer %}

