{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'includes/form_fields.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <button type="submit" class="btn btn-block btn-lg bg-blue-grey waves-effect">{{ 'resetting.reset.submit'|trans }}</button>
{{ form_end(form) }}
