{% extends 'layout/layout_base.html.twig' %}

{% block title %}{{ 'title.dashboard'|trans({}, 'title') }} {{ parent() }}{% endblock title %}

{% set breadcrumb = false %}

{% block content %}
    <div class="block-header">
        <h2>
            <span{{ translate_in_place('title.dashboard', {}, 'title') }}>{{ 'title.dashboard'|trans({}, 'title') }}</span>
        </h2>
    </div>
    <div class="row clearfix">
        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_FUNCTIONALITIES'), 'App\\Entity\\Functionality') %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-{{ theme_name() }} hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">
                            <span>{{ 'dashboard.infobox.functionalities'|trans({}, 'dashboard') }}</span>
                        </div>
                        <div class="number count-to" data-from="0" data-to="{{ count_functionalities }}" data-speed="1000" data-fresh-interval="20">{{ count_functionalities }}</div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_granted(constant('App\\Security\\Voter\\UserVoter::LIST'), 'App\\Entity\\User') %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{ path('admin_user_list') }}" class="btn-link">
                    <div class="info-box bg-{{ theme_name() }} hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="content">
                            <div class="text">
                                <span>{{ 'dashboard.infobox.users'|trans({}, 'dashboard') }}</span>
                            </div>
                            <div class="number count-to" data-from="0" data-to="{{ count_users }}" data-speed="1000" data-fresh-interval="20">{{ count_users }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        {% if is_granted(constant('App\\Security\\Voter\\TestVoter::LIST'), 'App\\Entity\\Test') %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a href="{{ path('admin_test_list') }}" class="btn-link">
                    <div class="info-box bg-{{ theme_name() }} hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">print</i>
                        </div>
                        <div class="content">
                            <div class="text">
                                <span>{{ 'dashboard.infobox.tests'|trans({}, 'dashboard') }}</span>
                            </div>
                            <div class="number count-to" data-from="0" data-to="{{ count_tests }}" data-speed="1000" data-fresh-interval="20">{{ count_tests }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}