{% extends layout %}

{% trans_default_domain 'LexikTranslationBundle' %}

{% block lexik_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/css/translation.css') }}">
{% endblock lexik_stylesheets %}

{% block page_title %}
    {{ 'title.translation.list'|trans({}, 'title') }}
{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">
        <a href="{{ path('lexik_translation_overview') }}">
            <i class="material-icons">language</i> <span class="hidden-xs">{{ 'breadcrumb.translation.title'|trans({}, 'breadcrumb') }}</span>
        </a>
    </li>
    <li class="active">
        <i class="material-icons">list</i> <span class="hidden-xs"{{ translate_in_place('breadcrumb.translation.list', {}, 'breadcrumb') }}>
            {{ 'breadcrumb.translation.list'|trans({}, 'breadcrumb') }}
        </span>
    </li>
{% endblock breadcrumb %}

{% block page_actions %}
    <div class="pull-right btn-group">
        <a class="btn bg-blue-grey white waves-effect" href="{{ path('lexik_translation_overview') }}">
            <i class="material-icons">visibility</i> <span class="hidden-xs">{{ 'button.translation.overview'|trans({}, 'button') }}</span>
        </a>
{#        <a class="btn bg-{{ theme_name() }} white waves-effect" href="{{ path('lexik_translation_new') }}">#}
{#            <i class="material-icons">add_circle_outline</i> <span class="hidden-xs">{{ 'button.add'|trans({}, 'button') }}</span>#}
{#        </a>#}
    </div>
{% endblock page_actions %}

{% block translation_card_title %}
    <span{{ translate_in_place('list.translation.title', {}, 'list') }}>
        {{ 'list.translation.title'|trans({}, 'list') }}
    </span>
{% endblock translation_card_title %}

{% block lexik_content %}
    {% include 'layout/layout_card.html.twig' with {
        card_title: block('translation_card_title'),
        card_content: include('bundles/LexikTranslationBundle/Translation/_ngGrid.html.twig'),
        card_footer: ''
    } %}
{% endblock lexik_content %}

{% block lexik_javascript_footer %}
    {{ parent() }}
    <script>
        var translationCfg = {
            locales: {{ locales|json_encode|raw }},
            inputType: '{{ inputType }}',
            autoCacheClean: {{ autoCacheClean ? 'true' : 'false' }},
            profilerTokens: {{ tokens is not null ? (tokens|json_encode|raw) : 'null' }},
            toggleSimilar: '{{ toggleSimilar }}',
            csrfToken: '{{ csrf_token('lexik-translation') }}',
            url: {
                list: '{{ path('lexik_translation_list') }}',
                listByToken: '{{ path('lexik_translation_profiler', {'token': '-token-'}) }}',
                update: '{{ path('lexik_translation_update', {'id': '-id-'}) }}',
                delete: '{{ path('lexik_translation_delete', {'id': '-id-'}) }}',
                deleteLocale: '{{ path('lexik_translation_delete_locale', {'id': '-id-', 'locale': '-locale-'}) }}',
                invalidateCache: '{{ path('lexik_translation_invalidate_cache') }}'
            },
            label: {
                hideCol: '{{ 'translations.show_hide_columns'|trans }}',
                toggleAllCol: '{{ 'translations.toggle_all_columns'|trans }}',
                invalidateCache: '{{ 'translations.invalidate_cache'|trans }}',
                allTranslations: '{{ 'translations.all_translations'|trans }}',
                profiler: '{{ 'translations.profiler'|trans }}',
                dataSource: '{{ 'translations.data_source'|trans }}',
                latestProfiles: '{{ 'translations.latest_profiles'|trans }}',
                profile: '{{ 'translations.profile'|trans }}',
                saveRow: '{{ 'translations.save_row'|trans }}',
                domain: '{{ 'translations.domain'|trans }}',
                key: '{{ 'translations.key'|trans }}',
                save: '{{ 'translations.save'|trans }}',
                updateSuccess: '{{ 'translations.successfully_updated'|trans }}',
                updateFail: '{{ 'translations.update_failed'|trans }}',
                deleteSuccess: '{{ 'translations.successfully_deleted'|trans }}',
                deleteFail: '{{ 'translations.delete_failed'|trans }}',
                noTranslations: '{{ 'translations.no_translations'|trans }}'
            }
        };
    </script>
    <script src="{{ asset('bundles/lexiktranslation/js/translation.js') }}"></script>
{% endblock lexik_javascript_footer %}
