{% extends 'layout/layout_card.html.twig' %}

{% set card_title = 'card.audit.title' | trans({}, 'card') %}

{% block card_content %}
    <div class="row clearfix">
        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
            <div class="panel-group full-body collapsible-audits" id="accordion_19" role="tablist" aria-multiselectable="true">
                {% for audit in audits %}
                    <div class="panel panel-col-{{ audit.type == 'remove' ? 'black' : 'grey   ' }}">
                        <div class="panel-heading" role="tab" id="headingOne_{{ loop.index }}">
                            <h4 class="panel-title">
                                <time class="pull-right" datetime="{{ audit.createdAt | date('Y-m-dTH:i:s') }}"><small><em>{{ audit.createdAt | localizeddate }}</em></small></time>

                                <a role="button" data-toggle="collapse" href="#collapseOne_{{ loop.index }}" aria-expanded="false" aria-controls="collapseOne_{{ loop.index }}" class="collapsed">
                                    {% if audit.type == 'insert' %}
                                        <i class="material-icons">add</i>
                                        {{ 'card.audit.actions.insert' | trans({'%id%': audit.objectId, '%username%': audit.userId},  'card') }}
                                    {% elseif audit.type == 'update' %}
                                        <i class="material-icons">edit</i>
                                        {{ 'card.audit.actions.update' | trans({'%id%': audit.objectId, '%username%': audit.userId},  'card') }}
                                    {% else %}
                                        <i class="material-icons">close</i>
                                        {{ 'card.audit.actions.delete' | trans({'%id%': audit.objectId, '%username%': audit.userId},  'card') }}
                                    {% endif %}
                                </a>
                            </h4>
                        </div>
                        {% set username = audit.userId | blame_audit(users) %}
                        {% if username is not null or audit.type == 'update' %}
                            <div id="collapseOne_{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_{{ loop.index }}" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    {% if username is not null %}
                                        <em class="col-blue-grey">{{ 'card.audit.actions.made_by' | trans({'%username%': username}, 'card') }}</em>
                                    {% endif %}

                                    {% if audit.type == 'update' %}
                                        <div class="audit-updates-container">
                                            {% for key, value in audit.diffs %}
                                                <p class="font-underline">
                                                    {{ 'card.audit.updates.text' | trans({
                                                        '%property%': key,
                                                        '%old%': value.old | json_encode,
                                                        '%new%': value.new | json_encode,
                                                    }, 'card') | raw }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock card_content %}