{% for action in actions %}
    <div class="icon-button-demo">
        <a href="{{ path(action.route, action.routeParams) }}" class="btn bg-{{ action.color == 'theme' ? theme_name() : action.color }} waves-effect waves-float"
           data-toggle="tooltip" data-placement="bottom" data-original-title="{{ action.label | trans({}, 'table') }}"
            {% for key, value in action.parameters %}
                {{ key }}=
                {% if key in ['data-dialog-confirm', 'data-dialog-cancel', 'data-dialog-success'] %}
                    "{{ value | trans({}, 'dialog') }}"
                {% else %}
                    "{{ value }}"
                {% endif %}
            {% endfor %}
        >
            <i class="material-icons">{{ action.icon }}</i>
        </a>
    </div>
{% endfor %}