<div class="table-responsive">
    <table id="example"
           class="table table-bordered table-striped table-hover dataTable js-exportable display {{ class }}"
           style="width:100%"
           {% for plugin in plugins %} data-{{ plugin }}="true"{% endfor %}
    >
        <thead>
            <tr>
                {% for item in header %}
                    <th class="{{ item.class }}">{{ ('table.head.' ~ item.label) | trans({}, 'table') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for key, value in row %}
                        <td>{{ row[key] | raw }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% for item in header %}
                    <th class="{{ item.class }}">{{ ('table.head.' ~ item.label) | trans({}, 'table') }}</th>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>