<div class="table-responsive">
    <table id="example"
           class="table table-bordered table-striped table-hover dataTable js-exportable dataTable display {{ class }}"
           style="width:100%"
           {% for plugin in plugins %} data-{{ plugin }}="true"{% endfor %}
    >
        <thead>
        <tr>
            {% for item in header %}
                <th>{{ ('table.head.' ~ item) | trans({}, 'table') }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            {% for item in header %}
                <th>{{ ('table.head.' ~ item) | trans({}, 'table') }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
</div>