{% use "bootstrap_base_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {% if form.vars.mobile ?? false %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-mobile-phone')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block button_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{% block date_picker_widget %}
    {%- set attr = attr|merge({'data-provide': 'datepicker'}) -%}
    {{- block('form_widget_simple') -}}
{%- endblock date_picker_widget %}

{% block time_picker_widget %}
    {%- set attr = attr|merge({'data-provide': 'timepicker'}) -%}
    {{- block('form_widget_simple') -}}
{%- endblock time_picker_widget %}

{% block datetime_picker_widget %}
    {%- set attr = attr|merge({'data-provide': 'datetimepicker'}) -%}
    {{- block('form_widget_simple') -}}
{%- endblock datetime_picker_widget %}

{% block recaptcha_widget %}
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_apikey }}" data-callback="validationCaptchaCallback" data-expired-callback="validationCaptchaCallback"></div>
    <input type="hidden" class="input-captcha validate" required name="hiddenRecaptcha">
{% endblock recaptcha_widget %}

{% block money_widget -%}
    {% set prepend = not (money_pattern starts with '{{') %}
    {% set append = not (money_pattern ends with '}}') %}
    {% if prepend or append %}
        <div class="input-group">
            {% if prepend %}
                <span class="input-group-addon">{{ money_pattern|form_encode_currency }}</span>
            {% endif %}
            {{- block('form_widget_simple') -}}
            {% if append %}
                <span class="input-group-addon">{{ money_pattern|form_encode_currency }}</span>
            {% endif %}
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock money_widget %}

{% block switch_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock switch_widget %}

{% block custom_range_widget -%}
    {%- set type = 'hidden' -%}
    {%- set attr = attr|merge({
        'data-min': form.vars.min,
        'data-max': form.vars.max,
        'data-step': form.vars.step,
        'data-double': form.vars.double,
        'data-tooltips': form.vars.tooltips,
        class: (attr.class|default('') ~ ' nouislider validate')|trim,
    }) -%}
    <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
        <div class="nouislider-container">
            <div class="hidden">
                {{- block('form_widget_simple') -}}
            </div>
        </div>
    </div>
{%- endblock custom_range_widget %}


{% block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' with-gap')|trim}) -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock radio_widget %}

{# Labels #}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label form-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|trans({}, translation_domain) -}}
        {%- endif -%}
        {%- if form.vars.tooltip ?? false -%}
             <i class="fa fa-question-circle tooltip-help" data-toggle="tooltip" aria-hidden="true"
                data-original-title="{{ translation_domain is same as(false) ? form.vars.tooltip : form.vars.tooltip|trans({}, translation_domain) }}"></i>
        {%- endif -%}
        {%- if required -%}
            <span class="badge bg-blue-grey">{{ 'form.common.required' | trans({}, translation_domain) }}</span>
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{% block switch_label -%}
    {% set element = 'label' %}
    {{- block('form_label') -}}
{%- endblock switch_label %}

{% block choice_label -%}
    {# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
    {%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
    {{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}

    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}

    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {%- if widget is defined -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
    {%- if help is not empty -%}
        {%- set attr = attr|merge({'aria-describedby': (id ~ '_help')|trim}) -%}
    {%- endif -%}
    {%- if form.vars.mask ?? false -%}
        {%- set attr = attr|merge({'data-inputmask': form.vars.mask|trim}) -%}
    {%- endif -%}
    {%- if form.vars.pattern ?? false -%}
        {%- set attr = attr|merge({'pattern': form.vars.pattern|trim}) -%}
    {%- endif -%}
    {%- if form.vars.readonly ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    {% set float = true %}
    {% if form.vars.no_float ?? false or form.vars.addon_left ?? false or form.vars.addon_right ?? false %}
        {% set float = false %}
    {% endif %}
    <div class="form-group {{ float ? 'form-float' : 'form-no-float' }}{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {%- if form.vars.addon_left ?? false or form.vars.addon_right ?? false or form.vars.button_left ?? false or form.vars.button_right ?? false -%}
            {{- form_label(form) }} {# -#}
            <div class="input-group">
                {%- if form.vars.button_left ?? false -%}
                    <span class="input-group-btn">
                        <a class="btn{% if form.vars.button_left_class ?? false %} {{ form.vars.button_left_class }}{% endif %}">
                            {{ (translation_domain is same as(false) ? form.vars.button_left : form.vars.button_left|trans({}, translation_domain))|raw }}
                        </a>
                    </span>
                {%- endif -%}
                {%- if form.vars.addon_left ?? false -%}
                    <span class="input-group-addon">
                        {{ (translation_domain is same as(false) ? form.vars.addon_left : form.vars.addon_left|trans({}, translation_domain))|raw }}
                    </span>
                {%- endif -%}
                <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
                    {{ form_widget(form, {attr: attr}) }} {# -#}
                </div>
                {%- if form.vars.addon_right ?? false -%}
                    <span class="input-group-addon">
                        {{ (translation_domain is same as(false) ? form.vars.addon_right : form.vars.addon_right|trans({}, translation_domain))|raw }}
                    </span>
                {%- endif -%}
                {%- if form.vars.button_right ?? false -%}
                    <span class="input-group-btn">
                        <a class="btn{% if form.vars.button_right_class ?? false %} {{ form.vars.button_right_class }}{% endif %}">
                            {{ (translation_domain is same as(false) ? form.vars.button_right : form.vars.button_right|trans({}, translation_domain))|raw }}
                        </a>
                    </span>
                {%- endif -%}
            </div>
        {%- elseif form.vars.no_float ?? false or form.vars.addon ?? false -%}
            {{- form_label(form) }} {# -#}
            <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
                {{ form_widget(form, {attr: attr}) }} {# -#}
            </div>
        {%- elseif expanded is defined -%}
            {%- if form.vars.exploded ?? false -%}
                <div {{ block('widget_container_attributes') }}>
                    {{- form_label(form) }} {# -#}
                    {{ form_widget(form, {attr: attr}) }} {# -#}
                </div>
            {%- else -%}
                {{- form_label(form) }} {# -#}
                {{ form_widget(form, {attr: attr}) }} {# -#}
            {%- endif -%}
        {%- else -%}
            <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
                {{ form_widget(form, {attr: attr}) }} {# -#}
                {{- form_label(form) }} {# -#}
            </div>
        {%- endif -%}
        {{- block('help') -}}
        {{ form_errors(form) }} {# -#}
    </div> {# -#}
{%- endblock form_row %}

{% block button_row -%}
    <div class="form-group">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block choice_row -%}
    {{- block('form_row') }}
{%- endblock choice_row %}

{% block wysiwyg_row -%}
    {%- if disabled ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    {%- if form.vars.max_length ?? false -%}
        {%- set attr = attr|merge({'maxlength': form.vars.max_length|number_format}) -%}
    {%- endif -%}
    {%- if form.vars.min_length ?? false -%}
        {%- set attr = attr|merge({'minlength': form.vars.min_length|number_format}) -%}
    {%- endif -%}
    {%- if form.vars.upload ?? false -%}
        {%- set attr = attr|merge({'data-upload': true}) -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' no_autosize validate')|trim, 'data-provide': 'wysiwyg'}) -%}
    {{- block('form_row') }}
{%- endblock wysiwyg_row %}

{% block boolean_row -%}
    {%- if form.vars.exploded ?? false -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' radio-block')|trim}) -%}
    {%- endif -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock boolean_row %}

{% block custom_choice_row -%}
    {%- if form.vars.exploded ?? false -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' radio-block')|trim}) -%}
    {%- endif -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock custom_choice_row %}

{% block gender_row -%}
    {%- if form.vars.exploded ?? false -%}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' radio-block')|trim}) -%}
    {%- endif -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock gender_row %}

{% block date_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock date_row %}

{% block date_picker_row -%}
    {%- if form.vars.disabledDays ?? false -%}
        {%- set attr = attr|merge({'data-disabled-days': form.vars.disabledDays}) -%}
    {%- endif -%}
    {%- if form.vars.minDate ?? false -%}
        {%- set attr = attr|merge({'data-min-date': form.vars.minDate}) -%}
    {%- endif -%}
    {%- if form.vars.maxDate ?? false -%}
        {%- set attr = attr|merge({'data-max-date': form.vars.maxDate}) -%}
    {%- endif -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock date_picker_row %}

{% block time_picker_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock time_picker_row %}

{% block datetime_picker_row -%}
    {%- if form.vars.disabledDays ?? false -%}
        {%- set attr = attr|merge({'data-disabled-days': form.vars.disabledDays}) -%}
    {%- endif -%}
    {%- if form.vars.minDate ?? false -%}
        {%- set attr = attr|merge({'data-min-date': form.vars.minDate}) -%}
    {%- endif -%}
    {%- if form.vars.maxDate ?? false -%}
        {%- set attr = attr|merge({'data-max-date': form.vars.maxDate}) -%}
    {%- endif -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock datetime_picker_row %}

{% block recaptcha_row %}
    {% set force_error = true %}
    {{- block('form_row') }}
{% endblock recaptcha_row %}

{% block time_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
    {%- if form.vars.readonly ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    <div class="form-group form-float{% if not valid %} has-error{% endif %}">
        <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
            {{- form_widget(form) -}}
        </div>
        {{- block('help') -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    {%- if form.vars.readonly ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{% block switch_row -%}
    {%- if form.vars.readonly ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    {% set float = true %}
    {% if form.vars.no_float ?? false or form.vars.addon_left ?? false or form.vars.addon_right ?? false %}
        {% set float = false %}
    {% endif %}
    <div class="form-group {{ float ? 'form-float' : 'form-no-float' }}{% if not valid %} has-error{% endif %}">
        {{- block('switch_label') -}}
        <div class="{{ form.vars.no_line ?? false ? 'form-no-line' : 'form-line' }}">
            <div class="switch">
                <label>
                    {{- block('switch_widget') -}}
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        {{- block('help') -}}
        {{ form_errors(form) }}
    </div>
{%- endblock switch_row %}

{% block custom_range_row -%}
    {%- set attr = attr|merge({
        'data-orientation': form.vars.vertical ?? false ? 'vertical' : 'horizontal',
        'data-direction': form.vars.vertical ?? false ? 'rtl' : 'ltr'
    }) -%}
    {%- if form.vars.limit ?? false -%}
        {%- set attr = attr|merge({'data-limit': form.vars.limit}) -%}
    {%- endif -%}
    {%- if form.vars.readonly ?? false -%}
        {%- set attr = attr|merge({'readonly': true}) -%}
    {%- endif -%}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{- form_label(form) }}
        {{- block('custom_range_widget') -}}
        {{- block('help') -}}
        {{ form_errors(form) }}
    </div>
{%- endblock custom_range_row %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{# Help #}

{% block help -%}
    {% if help ?? false %}
        <span class="help-block only-help" id="{{ id ~ '_help' }}">{{ translation_domain is same as(false) ? help : help|trans({}, translation_domain) }}</span>
    {% endif %}

    {% if form.vars.alert ?? false %}
        <div class="alert alert-dismissible {{ form.vars.alert_class ?? false ? form.vars.alert_class : ('bg-' ~ theme_name()) }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{ translation_domain is same as(false) ? form.vars.alert : form.vars.alert|trans({}, translation_domain) }}
        </div>
    {% endif %}
{%- endblock help %}
