<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{{ path('admin_homepage') }}">
                {% if logo is defined %}
                    <img src="{{ logo }}" alt="logo {{ project_name }}" class="inline">
                {% endif %}
                {{ project_name | upper }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Locale -->
                {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::SWITCH_LOCALE'), 'App\\Entity\\Functionality') %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            <i class="fa fa-globe fa-2x"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="body">
                                <ul class="menu">
                                    <li class="active">
                                        <a href="#!" disabled=""><span class="flag-icon flag-icon-{{ locale() == 'en' ? 'gb' : locale() }}"></span> {{ ('topbar.locales.' ~ locale()) | trans({}, 'topbar') }}</a>
                                    </li>
                                    {% for item in available_locales | split('|') if item != locale() %}
                                        <li>
                                            <a href="{{ path('admin_locale_switch', {locale: item}) }}"><span class="flag-icon flag-icon-{{ item == 'en' ? 'gb' : item }}"></span> {{ ('topbar.locales.' ~ item) | trans({}, 'topbar') }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <!-- Topbar -->
                {{ knp_menu_render('topbar', {
                    currentClass: 'active',
                    template: 'includes/_partials/navbar_renderer.html.twig'
                }, 'topbar_renderer') }}
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->