<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{{ asset('build/images/user.png') }}" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.fullname }}</div>
                <div class="email">{{ app.user.email }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>

                    {{ knp_menu_render('usernav', {
                        currentClass: 'active',
                        template: 'includes/navbar_renderer.html.twig'
                    }) }}
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            {{ knp_menu_render('navbar', {
                currentClass: 'active',
                ancestorClass: 'active',
                template: 'includes/navbar_renderer.html.twig'
            }) }}
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; {{ 'now' | date('Y') }} <a href="https://vsweb.be" target="_blank">VsWeb</a>.
            </div>
            <div class="version">
                <b>{{ 'layout.version' | trans({}, 'layout') }}: </b>{{ skeleton_version }}
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::SWITCH_THEME'), 'App\\Entity\\Functionality')
        or is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_FUNCTIONALITIES'), 'App\\Entity\\Functionality')
        or is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_SETTINGS'), 'App\\Entity\\Functionality') %}
        {% include 'includes/sidebar.html.twig' %}
    {% endif %}
    <!-- #END# Right Sidebar -->
</section>