<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        {% set second_tab_active_class = 'active' %}
        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::SWITCH_THEME'), 'App\\Entity\\Functionality') %}
            {% set second_tab_active_class = '' %}
            <li role="presentation" class="active"><a href="#skins" data-toggle="tab">{{ 'sidebar.skins.title' | trans({}, 'sidebar') }}</a></li>
        {% endif %}

        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_FUNCTIONALITIES'), 'App\\Entity\\Functionality')
            or is_granted(constant('App\\Security\\Voter\\SettingVoter::MANAGE_SETTINGS'), 'App\\Entity\\Setting') %}
            <li role="presentation" class="{{ second_tab_active_class }}">
                <a href="#settings" data-toggle="tab">{{ 'sidebar.settings.title' | trans({}, 'sidebar') }}</a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::SWITCH_THEME'), 'App\\Entity\\Functionality') %}
            <div role="tabpanel" class="tab-pane fade in active" id="skins">
                <ul class="demo-choose-skin">
                    {% for color in available_colors %}
                        <li data-theme="{{ color }}"{{ color == theme_name() ? ' class="active"' : '' }}>
                            <a href="{{ path('admin_theme_switch', {name: color}) }}" class="block">
                                <div class="{{ color }}"></div>
                                <span>{{ ('sidebar.skins.colors.' ~ color) | trans({}, 'sidebar') }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_FUNCTIONALITIES'), 'App\\Entity\\Functionality')
            or is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_SETTINGS'), 'App\\Entity\\Functionality') %}
            <div role="tabpanel" class="tab-pane fade{{ second_tab_active_class == '' ? '' : ' in active' }}" id="settings">
            {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_FUNCTIONALITIES'), 'App\\Entity\\Functionality') %}
                <div class="demo-settings">
                    <p>{{ 'sidebar.func.title' | trans({}, 'sidebar') }}</p>
                    <ul class="setting-list">
                        {% for item in functionalities() %}
                            <li>
                                <span>{{ ('sidebar.' ~ item.name) | trans({}, 'sidebar') }}</span>
                                <div class="switch">
                                    <label>
                                        <input type="checkbox" data-id="{{ item.id }}"
                                                {{ not item.isActive ? '' : 'checked' }}
                                        ><span class="lever"></span>
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::MANAGE_SETTINGS'), 'App\\Entity\\Functionality') %}
                <div class="demo-settings">
                    <p>{{ 'sidebar.settings.title' | trans({}, 'sidebar') }}</p>
                    <ul class="setting-list">
                        <li>
                            {% for item in settings() %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="{{ item.name }}" data-id="{{ item.id }}" value="{{ item.value }}">
                                        <label class="form-label">{{ ('sidebar.' ~ item.name) | trans({}, 'sidebar') }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
</aside>