{% extends 'layout/layout_form.html.twig' %}

{% block page_title %}
    {{ 'title.test.edit' | trans({'%name%': test.name}, 'title') }}
{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">
        <a href="{{ path('admin_test_list') }}">
            <i class="material-icons">print</i> {{ 'breadcrumb.test.title' | trans({}, 'breadcrumb') }}
        </a>
    </li>
    <li class="active"><i class="material-icons">edit</i> {{ 'breadcrumb.test.edit' | trans({'%name%': test.name}, 'breadcrumb') | raw }}</li>
{% endblock breadcrumb %}

{% block form_title %}
    {{ 'form.test.edit.title' | trans({'%name%': test.name}, 'form') | raw }}
{% endblock form_title %}

{% block form_content %}
    {{ include('test/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_test_list') }}">back to list</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock form_content %}

{% block form_after %}
    {% if is_granted(constant('App\\Security\\Voter\\TestVoter::AUDIT'), entity) %}
        <div class="row clearfix">
            <div class="col-xs-12">
                {{ render(controller('App\\Controller\\DefaultController::audit', {
                    class: 'App\\Entity\\Test',
                    id: entity.id,
                })) }}
            </div>
        </div>
    {% endif %}
{% endblock form_after %}
