{% extends 'layout/layout_table.html.twig' %}

{% block page_title %}{{ 'title.test.list' | trans({}, 'title') }}{% endblock page_title %}

{% block breadcrumb %}
    <li class="active"><i class="material-icons">print</i> {{ 'breadcrumb.test.title' | trans({}, 'breadcrumb') }}</li>
    <li class="active"><i class="material-icons">list</i> {{ 'breadcrumb.test.list' | trans({}, 'breadcrumb') }}</li>
{% endblock breadcrumb %}

{% block page_actions %}
    <div class="pull-right btn-group">
        {% if is_granted(constant('App\\Security\\Voter\\TestVoter::DELETE_MULTIPLE'), 'App\\Entity\\Test') %}
            <div class="btn-group">
                <button type="button" class="btn bg-blue-grey waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <small><i class="material-icons">settings</i></small> {{ 'button.multiple_actions.title' | trans({}, 'button') }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Separated link</a></li>
                </ul>
            </div>
        {% endif %}

        {% if is_granted(constant('App\\Security\\Voter\\TestVoter::ADD'), 'App\\Entity\\Test') %}
            <a class="btn bg-{{ theme_name() }} white waves-effect" href="{{ path('admin_test_add') }}">
                <i class="material-icons">add</i> {{ 'button.add' | trans({}, 'button') }}
            </a>
        {% endif %}
    </div>
{% endblock page_actions %}

{% block table_title %}
    {{ 'list.test.title' | trans({}, 'list') }}
{% endblock table_title %}

{% block table_content %}
    {% include 'includes/datatable.html.twig' with {
        id: 'datatable_test',
        rows: tests,
        header: [
            {
                label: 'test.id',
                class: ''
            },
            {
                label: 'test.name',
                class: ''
            },
            {
                label: 'actions',
                class: 'not-sortable not-searchable'
            }
        ],
        plugins: [
            'export',
            'responsive',
            'colReorder',
        ],
    } %}
{% endblock table_content %}

{% block table_after %}
    {% if is_granted(constant('App\\Security\\Voter\\TestVoter::AUDIT'), 'App\\Entity\\Test') %}
        <div class="row clearfix">
            <div class="col-xs-12">
                {{ render(controller('App\\Controller\\DefaultController::audit', {
                    class: 'App\\Entity\\Test'
                })) }}
            </div>
        </div>
    {% endif %}
{% endblock table_after %}
