<article class="card">
    <header class="header">
        <h2>{{ card_title|raw }}</h2>
        <ul class="header-dropdown m-r--5">
            <li class="dropdown">
                <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#!" class=" waves-effect waves-block" data-toggle="grid-collapse"
                           data-state-on-label="{{ 'card.actions.collapse'|trans({}, 'card') }}"
                           data-state-off-label="{{ 'card.actions.expand'|trans({}, 'card') }}">
                            <i class="material-icons">remove</i> <span class="label-toggle">{{ 'card.actions.collapse'|trans({}, 'card') }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!" class=" waves-effect waves-block" data-toggle="grid-expand"
                           data-state-on-label="{{ 'card.actions.fullscreen'|trans({}, 'card') }}"
                           data-state-off-label="{{ 'card.actions.embed'|trans({}, 'card') }}">
                            <i class="material-icons">open_with</i> <span class="label-toggle">{{ 'card.actions.fullscreen'|trans({}, 'card') }}</span>
                        </a>
                    </li>
                    <li><a href="#!" class=" waves-effect waves-block" data-toggle="grid-close"><i class="material-icons">close</i> {{ 'card.actions.close'|trans({}, 'card') }}</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <section class="body">
        {% block card_content %}
            {{ card_content is defined ? card_content|raw }}
        {% endblock card_content %}
    </section>
    <footer class="footer">{{ card_footer is defined ? card_footer|raw }}</footer>
</article>