{% extends 'base.html.twig' %}

{% block title %}
    {% block page_title %}{% endblock page_title %}{{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {% include 'includes/stylesheets.html.twig' %}
{% endblock stylesheets %}

{% block body_class %}theme-{{ theme_name() }}{% endblock body_class %}

{% block body_content %}
    {% include 'includes/loader.html.twig' %}

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <header role="banner">
        {% include 'includes/search.html.twig' %}
        {% if logo is defined %}
            {% include 'includes/header.html.twig' with {logo: logo} %}
        {% else %}
            {% include 'includes/header.html.twig' %}
        {% endif %}
    </header>

    {% include 'includes/navbar.html.twig' %}

    <section class="content">
        <div class="container-fluid">
            {% if breadcrumb ?? true %}
                <!-- Breadcrumb -->
                <div class="card">
                    <div class="body">
                        {% block page_actions %}{% endblock page_actions %}

                        <ol class="breadcrumb breadcrumb-col-{{ theme_name() }}">
                            <li>
                                <a href="{{ path('admin_homepage') }}">
                                    <i class="material-icons">home</i> <span class="hidden-xs">{{ 'breadcrumb.home'|trans({}, 'breadcrumb') }}</span>
                                </a>
                            </li>
                            {% block breadcrumb %}{% endblock breadcrumb %}
                        </ol>
                    </div>
                </div>
                <!-- #END# Breadcrumb -->
            {% endif %}

            {% block content %}{% endblock content %}
        </div>
    </section>
{% endblock body_content %}

{% block javascripts %}
    {% include 'includes/javascripts_dynamic.html.twig' %}
    {% include 'includes/javascripts.html.twig' %}
{% endblock javascripts %}