{% extends 'layout/layout_base.html.twig' %}

{% from 'includes/macros.html.twig' import length_main_section %}

{% if custom_form_theme is defined %}
    {% form_theme form custom_form_theme %}
{% else %}
    {% form_theme form 'includes/form_fields.html.twig' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock stylesheets %}

{% block content %}
    <div class="row clearfix">
        {% if block('form_sidebar_left') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('form_sidebar_left') }}
            </aside>
        {% endif %}

        <div class="{{ length_main_section(block('form_sidebar_left') is defined, block('form_sidebar_right') is defined) }}">

            {{ form_start(form) }}

            <section class="row table-actions-before">
                <div class="col-xs-12">
                    {% block form_before %}{% endblock form_before %}
                </div>
            </section>

            <main role="main">
                {% include 'layout/layout_card.html.twig' with {
                    card_title: block('form_title'),
                    card_content: block('form_content'),
                    card_footer: block('form_footer') is defined ? block('form_footer') : ''
                } %}
            </main>

            {% block form_after %}{% endblock form_after %}

            {{ form_end(form) }}

        </div>

        {% if block('form_sidebar_right') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('form_sidebar_right') }}
            </aside>
        {% endif %}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
{% endblock javascripts %}
