{% extends 'layout/layout_base.html.twig' %}

{% from 'includes/macros.html.twig' import length_main_section %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('table') }}
{% endblock stylesheets %}

{% block content %}
    <div class="row clearfix">
        {% if block('table_sidebar_left') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('table_sidebar_left') }}
            </aside>
        {% endif %}

        <section class="{{ length_main_section(block('table_sidebar_left') is defined, block('table_sidebar_right') is defined) }}">

            {% block table_before %}{% endblock table_before %}

            {% include 'layout/layout_card.html.twig' with {
                card_title: block('table_title'),
                card_content: block('table_content'),
                card_footer: block('table_footer') is defined ? block('table_footer') : ''
            } %}

            {% block table_after %}{% endblock table_after %}

        </section>

        {% if block('table_sidebar_right') is defined %}
            <aside role="complementary" class="col-sm-3">
                {{ block('table_sidebar_right') }}
            </aside>
        {% endif %}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('table') }}
{% endblock javascripts %}
