{% extends 'base.html.twig' %}

{% block title %}
    {% block page_title %}{% endblock page_title %}{{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {% include 'includes/stylesheets.html.twig' %}
    {{ encore_entry_link_tags('form') }}
{% endblock stylesheets %}

{% block body_class %}login-page bg-{{ theme_name() }}{% endblock body_class %}

{% block body_content %}
    {% include 'includes/loader.html.twig' %}

    <div class="pull-right col-black login-locales-container">
        {% if is_granted(constant('App\\Security\\Voter\\FunctionalityVoter::SWITCH_LOCALE'), 'App\\Entity\\Functionality') %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="flag-icon flag-icon-{{ app.request.locale|replace({'en': "gb"}) }}"></span> {{ ('topbar.locales.' ~ app.request.locale)|trans({}, 'topbar') }}
                    <span class="caret"></span>
                </button>
                {% include 'includes/locales_dropdown.html.twig' with {hide_locale: true, locale: app.request.locale} %}
            </div>
        {% endif %}
    </div>

    <div class="login-box">
        <div class="logo">
            <a href="{{ path('admin_homepage') }}">
                {% if logo is defined %}
                    <img src="{{ logo }}" alt="logo {{ setting_value(constant('App\\Entity\\Setting::SETTING_PROJECT_NAME'), constant('App\\Entity\\Setting::SETTING_PROJECT_NAME_VALUE')) }}" class="inline">
                {% endif %}
                {{ setting_value(constant('App\\Entity\\Setting::SETTING_PROJECT_NAME'), constant('App\\Entity\\Setting::SETTING_PROJECT_NAME_VALUE'))|upper }}
            </a>
        </div>
        <div class="card">
            <div class="body">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <p class="text-right">&copy; {{ 'now' | date('Y') }} dev in the hood</p>
    </div>
{% endblock body_content %}

{% block javascripts %}
    {% include 'includes/javascripts_dynamic.html.twig' %}
    {% include 'includes/javascripts.html.twig' %}
    {{ encore_entry_script_tags('form') }}
{% endblock javascripts %}