{% if actions is not empty %}
    <div class="btn-group">
        <button type="button" class="btn bg-{{ theme_name() }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small><i class="fa fa-cog"></i></small>  <span class="hidden-xs">{{ 'table.head.actions'|trans({}, 'table') }} <span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu">
            {% for key, action in actions %}
                {% if key == 'delete' and not loop.first and loop.last %}
                    <li role="separator" class="divider"></li>
                {% endif %}
                <li>
                    <a href="{{ path(action.route, action.routeParams) }}" class="waves-effect waves-block"
                    {% for key, value in action.parameters %}
                        {{ key }}=
                        {% if key in ['data-dialog-confirm', 'data-dialog-cancel', 'data-dialog-success'] %}
                            "{{ value|trans({}, 'dialog') }}"
                        {% else %}
                            "{{ value }}"
                        {% endif %}
                    {% endfor %}
                    >
                        <span class="block">
                            <i class="material-icons">{{ action.icon }}</i> {{ action.label|trans({}, 'table') }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}