{% for action in actions %}
    <div class="icon-button-demo">
        <a href="{{ path(action.route, action.routeParams) }}" class="btn bg-{{ action.color == 'theme' ? theme_name() : action.color }} waves-effect waves-float"
           data-toggle="tooltip" data-placement="bottom" data-original-title="{{ action.label|trans({}, 'table') }}"
            {% for key, value in action.parameters %}
                {% if key == 'data-dialog-confirm-parameters' %}
                    {{ key }}="{{ value|json_encode_with_quotes }}"
                {% else %}
                    {{ key }}="{{ value }}"
                {% endif %}
            {% endfor %}
        >
            <i class="material-icons" aria-hidden="true">{{ action.icon }}</i>
        </a>
    </div>
{% endfor %}