{% extends 'layout/layout_table.html.twig' %}

{% block page_title %}{{ 'title.user.list'|trans({}, 'title') }}{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">
        <i class="material-icons">supervisor_account</i> <span class="hidden-xs">{{ 'breadcrumb.user.title'|trans({}, 'breadcrumb') }}</span>
    </li>
    <li class="active">
        <i class="material-icons">list</i> <span class="hidden-xs">{{ 'breadcrumb.user.list'|trans({}, 'breadcrumb') }}</span>
    </li>
{% endblock breadcrumb %}

{% block page_actions %}
    <div class="pull-right btn-group">
        {% if is_granted(constant('App\\Security\\Voter\\TestVoter::DELETE_MULTIPLE'), 'App\\Entity\\Test') %}
            <div class="dropdown btn-group">
                <button type="button" class="btn bg-blue-grey waves-effect dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <small><i class="material-icons">settings</i></small> <span class="hidden-xs">{{ 'button.multiple_actions.title'|trans({}, 'button') }} <span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Separated link</a></li>
                </ul>
            </div>
        {% endif %}

        {% if is_granted(constant('App\\Security\\Voter\\TestVoter::ADD'), 'App\\Entity\\Test') %}
            <a class="btn bg-{{ theme_name() }} white waves-effect" href="{{ path('admin_user_add') }}">
                <i class="material-icons">add_circle_outline</i> <span class="hidden-xs">{{ 'button.add'|trans({}, 'button') }}</span>
            </a>
        {% endif %}
    </div>
{% endblock page_actions %}

{% block table_title %}
    <span>{{ 'list.user.title'|trans({}, 'list') }}</span>
{% endblock table_title %}

{% block table_content %}
    {% include 'includes/datatable.html.twig' with {
        id: 'datatable_user',
        rows: users,
        header: [
            {
                label: 'user.id',
                class: ''
            },
            {
                label: 'user.name',
                class: ''
            },
            {
                label: 'actions',
                class: 'not-sortable not-searchable'
            }
        ],
        plugins: [
            'export',
            'responsive',
            'colReorder',
        ],
    } %}
{% endblock table_content %}

{% block table_after %}
    {% if is_granted(constant('App\\Security\\Voter\\UserVoter::AUDIT'), 'App\\Entity\\User') %}
        <div class="row clearfix">
            <div class="col-xs-12">
                {{ render(controller('App\\Controller\\DefaultController::audit', {
                    class: 'App\\Entity\\User'
                })) }}
            </div>
        </div>
    {% endif %}
{% endblock table_after %}
