{% extends 'layout/layout_details.html.twig' %}

{% block page_title %}
    {{ 'title.user.view'|trans({'%name%': user.name}, 'title') }}
{% endblock page_title %}

{% block breadcrumb %}
    <li class="active">
        <a href="{{ path('admin_user_list') }}">
            <i class="material-icons">supervisor_account</i> <span class="hidden-xs">{{ 'breadcrumb.user.title'|trans({}, 'breadcrumb') }}</span>
        </a>
    </li>
    <li class="active">
        <i class="material-icons">visibility</i> <span class="hidden-xs">{{ 'breadcrumb.user.view'|trans({'%name%': user.name}, 'breadcrumb')|raw }}</span>
    </li>
{% endblock breadcrumb %}

{% block page_actions %}
    {% if is_granted(constant('App\\Security\\Voter\\UserVoter::LIST'), 'App\\Entity\\User') %}
        <div class="pull-right btn-group">
            <a class="btn bg-blue-grey white waves-effect" href="{{ path('admin_user_list') }}">
                <i class="material-icons">arrow_left</i> <span class="hidden-xs">{{ 'button.back'|trans({}, 'button') }}</span>
            </a>
        </div>
    {% endif %}
{% endblock page_actions %}

{% block details_title %}
    {{ 'details.user.title'|trans({'%name%': user.name}, 'details')|raw }}
{% endblock details_title %}

{% block details_sidebar_left %}
    <div class="card profile-card">
        <div class="profile-header bg-{{ theme_name() }}">&nbsp;</div>
        <div class="profile-body">
            <div class="image-area">
                <img src="{{ asset('build/images/user-lg.jpg') }}" alt="AdminBSB - Profile Image">
            </div>
            <div class="content-area">
                <h3>{{ user.name }}</h3>
                <p>{{ user.username }}</p>
                <p>{{ user.email|raw }}</p>
            </div>
        </div>
        {% if is_granted(constant('App\\Security\\Voter\\UserVoter::CHANGE_AVATAR'), entity) %}
            <div class="profile-footer">
                <button class="btn bg-blue-grey btn-lg waves-effect btn-block">{{ 'details.profile.links.avatar.not_mine'|trans({}, 'details') }}</button>
            </div>
        {% endif %}
    </div>
{% endblock details_sidebar_left %}

{% block details_content %}
    <div class="table-responsive">
        <table class="table table table-bordered table-striped table-hover">
            <tbody>
            {% for key, value in user %}
                <tr>
                    <th>{{ ('table.head.user.' ~ key)|trans({}, 'table') }}</th>
                    <td>{{ value|raw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock details_content %}

{% block details_footer %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9">
            <div class="btn-group btn-group-justified">
                <div class="btn">
                    <a class="btn btn-block waves-effect bg-{{ theme_name() }}" href="{{ path('admin_user_edit', {id: user.id}) }}">
                        <i class="material-icons">edit</i> <span class="hidden-xs">{{ 'button.edit'|trans({}, 'button') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock details_footer %}

{% block details_after %}
    {% if is_granted(constant('App\\Security\\Voter\\UserVoter::AUDIT'), entity) %}
        <div class="row clearfix">
            <div class="col-xs-12">
                {{ render(controller('App\\Controller\\DefaultController::audit', {
                    class: 'App\\Entity\\User',
                    id: entity.id,
                })) }}
            </div>
        </div>
    {% endif %}

    {% if is_granted(constant('App\\Security\\Voter\\UserVoter::DELETE'), entity) %}
        {% include 'user/_delete.html.twig' %}
    {% endif %}
{% endblock details_after %}
